.logo {
    display: inline-block;
    vertical-align: middle;
    height: 128px;
    padding: 18px;
}
.losung {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    font-family: 'Calibri';
    font-weight: bold;
    font-size: 18px;
    margin-left: 24px;
}

.list li{
    list-style: none;
    display:inline-block;
    text-align:center;
}

.list li a {
    display:inline-block;
    background: #17252A;
    color: white;
    list-style: none;
    line-height: 25px;
    margin-right: 12px;
    font-family: 'Calibri';
    font-weight: bold;
    font-size: 24px;
    width: 135px;
    text-decoration: none;
    border: 12px solid transparent;
}

.title {
    display: block;
    font-family: 'Calibri';
    font-size: 64px;
    font-weight: bolder;
}

.titleText {
    display: inline-block;
    width: 900px;
    margin-bottom: 36px;
    margin-left: 48px;
    font-family: 'Calibri';
    font-size: 36px;
    font-weight: bold;
}

footer {
    text-align: center;
    background: #17252A;
    color: white;
    font-family: "Calibri";
    font-size: 18px;
}

nav {
    text-align: center;
}
